* {
    box-sizing: border-box;
} 

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 218, 218);
    text-align: center;
}

.header,
.buttons,
.resizer,
.footer {
    flex: auto;
}

/* Header & Footer */ 

.header,
.footer {
    padding: 5px 50px;
    margin: 0;
    background-color: rgb(163, 121, 121);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 80px;
    font-weight: 500;
    font-family: 'Rubik Beastly', cursive, sans-serif;
}

.footer {
    font-size: 15px;
}

/* Buttons */

.buttons {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button,
input {
    padding: 5px 5px;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-weight: bold;
    background-color: rgb(163, 121, 121);
    border-style: none;
    font-size: 15px;
}

/* Sketchpad */

.sketchpad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 10px 10px;
}

.grid-container {
    margin: 0;
    padding: 0;
    height: 500px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: grid;
}

/* Resizer */

.resizer {
    width: 100%;
}

#slider { 
    -webkit-appearance: none;
    appearance: none;
    width: 500px;
    height: 15px;
    background: rgb(163, 121, 121);
    outline: none;
    margin: 20px;
}

/* Chrome */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
}

/* Firefox */
slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 5px;
}

button,
input {
    opacity: 0.7;
    transition: opacity .2s;
}

input:hover,
button:hover,
.full-opacity {
    opacity: 1;
    cursor: pointer;
}